# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [181]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [182]:

chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep ="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [183]:
chipo.sort_values("item_price")

,order_id,quantity,item_name,choice_description,item_price
261,113,1,Canned Soda,[Mountain Dew],$1.09
1805,730,1,Canned Soda,[Sprite],$1.09
1030,424,1,Canned Soda,[Diet Dr. Pepper],$1.09
3020,1201,1,Canned Soda,[Diet Dr. Pepper],$1.09
3021,1201,1,Bottled Water,NaN,$1.09
...,...,...,...,...,...
4547,1807,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4391,1752,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Pinto Beans...",$9.39
2600,1032,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$9.39
4241,1693,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4390,1751,1,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$9.39

In [184]:
chipo["item_price"] = chipo["item_price"].str[1:].astype(float)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [185]:
chipo = chipo.sort_values(by="item_price", ascending=False)
chipo[0:1]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 4. How many products cost more than $10.00?

In [186]:
mask = chipo["item_price"] > 10

In [187]:
chipo1 = len(chipo[mask]["item_name"].unique())
chipo1

31

Extra: CuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$

In [188]:
len(chipo[mask]["order_id"].unique())

863

### Step 5. What is the price of each item? Get only item_name and unit_price

In [189]:
# Crea una nueva columna llamada unit_price
chipo["unit_price"] = chipo["item_price"]/chipo["quantity"]

chipo

,order_id,quantity,item_name,choice_description,item_price,unit_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25,11.75
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00,8.75
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00,8.75
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75,11.25
...,...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
2922,1162,1,Bottled Water,NaN,1.09,1.09
1396,567,1,Canned Soda,[Coca Cola],1.09,1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09,1.09
1457,591,1,Canned Soda,[Sprite],1.09,1.09

### Step 6. Sort by the name of the item

In [190]:
chipo["item_name"].sort_values()

3886    6 Pack Soft Drink
2374    6 Pack Soft Drink
3693    6 Pack Soft Drink
3389    6 Pack Soft Drink
1392    6 Pack Soft Drink
              ...
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
2384    Veggie Soft Tacos
738     Veggie Soft Tacos
781     Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [191]:
expensive = chipo["item_price"].max()
expensive

44.25

In [192]:
cantidad = 0
for i in chipo["item_price"]:
    chipo["item_price"] == expensive
    cantidad+=1
    break
cantidad

1

In [193]:
maximas = chipo[chipo["item_price"] == chipo["item_price"].max()]['quantity'].values[0]
maximas

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [194]:
food_veggie = len(chipo[chipo["item_name"] == "Veggie Salad Bowl"])
food_veggie

18

### Step 9. How many times did someone order more than one Canned Soda?

In [195]:
soda = chipo[chipo["item_name"] == "Canned Soda"]

In [199]:
cantidad_soda = soda[soda["quantity"] > 1]
len(cantidad_soda)

20

Extra

In [ ]:
# 1Âº Filtrar con una mÃ¡scara: chipo[chipo["item_name"] == "Canned Soda"]
# 2Âº Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3Âº Quiero sumar solo la columna de quantity [['quantity']].sum()